<h1>Post#creation_email</h1>
<p>find me in app/views/post_mailer/creation_email.html.erb</p>
<h2><%= @post.title %></h2>
<p><%= @post.content %></p>

<% @post.images.each do |attachment| %>
  <%= image_tag attachment, with: "200px" %>
<% end %>

