<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.fullname %></h1>
    <p>
     Ban vua tao 1 baif post <br>
     Title: <%= @post.title %> <br>
     Content: <%= @post.content %>
    </p>
  </body>
</html>