<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>
  
  <p>
    <strong>Users:</strong>
    <%= post.users.pluck(:email) %>
  </p>
</div>
